extends ../layout

prepend pageVariables
    - title = 'Add mod version'

block content
    section.my-5.mx-1
        div.card.mb-3
            div.card-body
                h5.card-title Add a new mod version to '#{mod.title}'
                form(method='post' action=`/mods/${mod.id}/addversion` enctype='multipart/form-data')
                    div.form-group
                        label(for='version') Mod version
                        input(type='text' placeholder='2.0' name='version' aria-describedby='versionHelp' maxlength='64' value=formContents.version required='required').form-control#version
                        small.text-muted#versionHelp The version name. Must be a #[a(href='https://api.raftmodding.com/website/slugs' target='_blank') slug] and can thus only contain lowercase characters, numbers, dashes, underscores and dots.
                    .form-group
                        label Compatible Raft versions
                        .input-group
                            select(name='minRaftVersionId')#min-raft-version.custom-select
                                option(disabled selected=(formContents.minRaftVersionId ? 'false' : 'selected')) Please select a version...
                                each raftVersion in raftVersions
                                    option(value=raftVersion.id selected=(formContents.minRaftVersionId == raftVersion.id))=`Raft Update ${raftVersion.version}`
                            .input-group-prepend.input-group-append
                                span.input-group-text -
                            select(name='maxRaftVersionId')#max-raft-version.custom-select
                                option(disabled selected=(formContents.maxRaftVersionId ? 'false' : 'selected')) Please select a version...
                                each raftVersion in raftVersions
                                    option(value=raftVersion.id selected=(formContents.maxRaftVersionId == raftVersion.id))=`Raft Update ${raftVersion.version}`
                        .form-check
                            label.form-check-label#definite-version-cap
                                input(type='checkbox' checked=formContents.definiteMaxRaftVersion name='definiteMaxRaftVersion').form-check-input#definite-version-cap
                                small.text-muted Definite version cap
                        .form-check
                            label.form-check-label#multiplayer-support
                                input(type='checkbox' checked=formContents.multiplayerSupport name='multiplayerSupport').form-check-input#multiplayer-support
                                small.text-muted Multiplayer Support
                    div.form-group
                        label(for='changelog') Changelog
                        textarea(placeholder=' * Fixed this.\n * Added that.' name='changelog' aria-describedby='changelogHelp' required='required').form-control#changelog=formContents.changelog
                        small.text-muted#changelogHelp A changelog for this version.
                    div.custom-file.my-3
                        label(for='file').custom-file-label#labelForFile Mod file
                        input(type='file' name='file' accept=acceptedModFileTypes aria-describedby='fileHelp').custom-file-input#file
                        small.text-muted#fileHelp Upload your mod file. If your mod needs to ship with multiple files, please follow our guide on #[a(href='https://api.raftmodding.com/website/mods-with-multiple-files' target='_blank') structuring your mod].
                    hr
                    input(type='submit' value='Submit mod version').btn.btn-success
                    button(type='button' data-toggle='collapse' data-target='#preview' aria-expanded='false' aria-controls='preview').mx-1.btn.btn-outline-primary Preview mod page
                    a(href='/mods/' + mod.id).btn.btn-outline-danger Discard changes
        ul
            li #[a(href=`/mods/${mod.id}`) Go back to the mod's page]
    - var index = 0;
    include version-preview
    link(rel='stylesheet' href='/assets/simplemde/simplemde.min.css')
    script.
        $('#file').change(e => e.currentTarget.files.length >= 1 ? $('#labelForFile').text(e.currentTarget.files[0].name) : $('#labelForFile').text('Mod file'))
    script(src='/assets/simplemde/simplemde.min.js')
    script new SimpleMDE({element: document.getElementById('changelog'), forceSync: true});
