extends layout

block modContent
    if versions && versions.length > 0
        each version, index in versions
            .card.mb-3
                .card-body
                    .card-title
                        h5 Version #{version.version}
                            small.text-muted.mx-1
                                if index == 0
                                    span.badge.badge-pill.badge-success.mx-1 Latest
                                if version.minRaftVersion
                                    include version-compatibility-badge
                                    +version-compatibility-badge(version, currentRmlVersion, false)
                            .float-right
                                if userIsAdmin || userIsOwner
                                    a(href=`/mods/${mod.id}/${version.version}/edit`).btn.btn-sm.btn-outline-primary.mx-1 Edit
                                if index == 0 && version.downloadUrl.endsWith(installableModFileType)
                                    a(href=`rmllauncher://installmod/${mod.id}` target='_blank').btn.btn-sm.btn-success.install-button Install mod
                                a(href=`/mods/${mod.id}/${version.version}/download`).btn.btn-sm.btn-primary.mx-1 Download
                                    span(title=`${version.downloadCount} downloads`).ml-2.badge.badge-pill.badge-light.text-primary=version.downloadCount
                    .card-text.mod-readme!=version.changelogMarkdown
                    p.card-text
                        small.text-muted #[i.far.fa-clock.mr-1] Released on #{version.createdAt.toISOString().split('T')[0]}
    else
        .card.mb-3
            .card-body
                .card-text
                    i No versions of this mod have been uploaded to this site.
